.underline {
  height: 2px;
  width: 50px;
}

.left-icon {
  display: flex;
  height: 1rem;
  width: 1rem;
  left: 17px;
  top: calc(50% - 6px);
}

.form-control {
  border-radius: 3px !important;
}

.err-msg {
  bottom: -22px;
}
