
    <section class="main-content" *ngIf="!emailSuccessfulySent">
      <div class="container d-flex flex-column">
          <div class="row align-items-center justify-content-center min-vh-100">
              <div class="col-md-6 col-lg-5 col-xl-4">
                  <div>
                      <div class="mb-5 text-center">
                          <h6 class="h3 mb-1">Reset password</h6>
                          <p class="text-muted mb-0">Enter your email to reset your password.</p>
                      </div><span class=clearfix></span>
                      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                          <div class=form-group>
                            <div class="position-relative " >
                              <div class="position-relative">
                                <i-feather name="mail" class="left-icon position-absolute"
                                [ngClass]="{ 'text-danger': (submitted || getControl('email').touched) && getControl('email').invalid}"></i-feather>
                                <input type="email"formControlName="email" class="form-control bg-white pl-5 rounded-0" placeholder="Email"
                                [ngClass]="{ 'is-invalid': (submitted || getControl('email').touched) && getControl('email').invalid}">
                              </div>
                              <small *ngIf="(submitted || getControl('email').touched) && getControl('email').errors?.required" class="err-msg form-text text-danger position-absolute">
                                Email is required
                              </small>
                              <small *ngIf="(submitted || getControl('email').touched) && getControl('email').errors?.pattern" class="err-msg form-text text-danger position-absolute">
                                Not an email format
                              </small>
                            </div>
                          </div>
                          <div class=mt-4>
                              <button type="submit" class="btn btn-block btn-primary">Reset password</button>
                          </div>
                      </form>
                      <div class="mt-4 text-center">Not registered?<a [routerLink]="['/signup']"class="font-weight-bold">Create account</a></div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <app-alert-verification></app-alert-verification>
