<div class="col-lg-12 col-sm-12 px-12">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><b style="color: #152c5b;">Date</b></th>
        <th scope="col"><b style="color: #152c5b;">Amount</b></th>
        <th scope="col"><b style="color: #152c5b;">Description</b></th>
        <th scope="col"><b style="color: #152c5b;">Action</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">8/2/19</th>
        <td>$464</td>
        <td>Fees(Visa)</td>
        <td>Download : <b style="color: #2F80ED;cursor: pointer;">PDF</b> | <b
            style="color: #2F80ED;cursor: pointer;">CSV</b> </td>
      </tr>
      <tr>
        <th scope="row">11/7/16</th>
        <td>$675</td>
        <td>June 2020 visa</td>
        <td>Download : <b style="color: #2F80ED;cursor: pointer;">PDF</b> | <b
            style="color: #2F80ED;cursor: pointer;">CSV</b> </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-12 col-sm-12 px-12" style="text-align: right;">
  <span style="color: #2F80ED;cursor: pointer;">See more..</span>
</div>
