.sidebar {
  min-height: 100vh;
  height: 100%;
  display: block;
  &.expanded {
    width: 250px;
  }
  &.collapsed {
    width: 100px;
    .brand .text {
      min-height: 49px;
      a {
        display: none;
      }
    }
  }
  .brand {
    padding: 0.75rem 1rem;
    font-size: 29px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .text {
      margin-top: 10px;
    }
  }
  ul {
    padding: 1.5rem;
  }
  .list-unstyled li a {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .menu-collapsed {
    width: 60px;
  }
  .menu-icon {
    font-size: 1.25rem;
    display: flex;
    margin-top: 0.2rem;
  }
  .submenu {
    font-size: 0.9rem;
  }
  .list-unstyled .submenu a {
    height: 45px;
    padding-left: 30px;
  }
  .nav-footer {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    display: none;
  }
}
